<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	<select id="qnaList" resultType="kr.go.me.dto.QnaDTO">
		select * from me_qna
	</select>
	<select id="getQna" resultType="kr.go.me.dto.QnaDTO">
		select * from me_qna where qno=#{qno}
	</select>
</mapper>
